body {
    background-image: url('blurry.jpg');
    background-repeat: no-repeat;
    background-attachment: scroll;
    height: 60vw;
    width: 100%;
    background-attachment: fixed;
    background-position: left;
    background-repeat: no-repeat;
    background-size: cover;
  }

  /*parallax scrolling effect*/
  .parallax {
    background-image: url('self.jpg');
    height: 60vw;
    width: 100%;
    background-attachment: fixed;
    background-position: left;
    background-repeat: no-repeat;
    background-size: cover;
}
 #mainpage .container img{
    width: 100%;
    height: 31.5vw;
}
/*buildingpage styles*/
 #mainpage .container{
    position: relative;
    text-align: center;
    color: white;
    width: 100%;
    height: 100%;
    /* width: 31.5vw;
    height: 31.5vw; */
}


#MainPageTitleDiv {
    position: absolute;
    top: 2vw;
    width: 100%;
}

#mainpage h1{
    font-family: "Avant Garde,Avantgarde",Century Gothic,CenturyGothic,AppleGothic,sans-serif; 
    color: rgb(255, 255, 255);
    text-align: right;
    margin-left: auto;
    margin-right: 31.5%;
    margin-top: 20%;
    width: 50%;
    

    font-size: 3.5vw;
}

#mainpage h2{
    font-family: "Avant Garde,Avantgarde",Century Gothic,CenturyGothic,AppleGothic,sans-serif; 
    color: rgb(255, 255, 255);
    text-align: right;
    margin-left: auto;
    margin-right: 41.6%;
    margin-top: 15%
    width: 10%;

    font-size: 1.3vw;
}

#mainpage h3{
    font-family: "Avant Garde,Avantgarde",Century Gothic,CenturyGothic,AppleGothic,sans-serif; 
    color: rgb(255, 255, 255);
   text-align: right;
    margin-right: 5%;
    margin-top: .05%
    width: 5%;

    font-size: 1.2vw;
}

#mainpage h4{
    font-size: 3.5vw;
    font-family:"Avant Garde,Avantgarde",Century Gothic,CenturyGothic,AppleGothic,sans-serif; 
    color: rgba(255, 255, 255, .8);
    padding: 4vw;
    text-align: left;
    margin-right:.5%;
    margin-left: 42.5%;
    margin-top: 0%;
    margin-bottom: 0%;
}
#mainpage p{
    font-size: 2vw;
    font-family: "lato";
    color: white;
    margin-right: .5%;
    margin-left: 46.5%;
    margin-top: .0005%;
    margin-bottom: 20%;
    text-align: left;
    
   
    
   


}
#mainpage section{
    display: block;
}
a{
    color: white;
    text-decoration: none;
}
html { scroll-behavior: smooth; } 

#mainpage h5{
    font-size: .05vw;
    font-family: "Courier New", Courier, monospace;
    color: rgb(97, 127, 116);
    padding: .05vw;
    text-align: center;
    background-color:rgb(97, 127, 116);
    margin-top: 0%;
    margin-bottom: 15%;
}